<!DOCTYPE html>
<!--[if IE 8]> <html lang="{{ DEFAULT_LANG }}" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="{{ DEFAULT_LANG }}" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="{{ DEFAULT_LANG }}"> <!--<![endif]-->
<head>
    <title>{{ SITENAME }}</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ data.me.tagline }}">
    <meta name="author" content="{{ SITENAME }}">
    <link rel="shortcut icon" href="favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="/theme/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/theme/plugins/font-awesome/css/font-awesome.css">

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="/theme/css/styles.css">
    <link id="theme-style" rel="stylesheet" href="/theme/css/overrides.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% if data.jsonld %}
    <script type="application/ld+json">{{ data.jsonld | json }}</script>
    {% endif %}
</head>

<body>
    <div class="wrapper">
        <div class="sidebar-wrapper">
            <div class="profile-container">
                <img class="profile" src="{{ data.me.avatar }}" alt="{{ _('Me') }}" width="100" height="100"/>
                <h1 class="name">{{ AUTHOR }}</h1>
                <h3 class="tagline">{{ data.me.tagline }}</h3>
                {% if lang_siteurls %}
                <ul class="list-inline text-center flag-list">
                    {% for lang, url in lang_siteurls.items() %}
                    <li{% if lang == DEFAULT_LANG %} class="active"{% endif %}>
                        <a href="{{ url }}/" title="{{lang}}">
                            <img src="/theme/images/{{ lang }}.svg" alt="{{ lang }}" width="20"/>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div><!--//profile-container-->


            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                    {% if data.me.email %}
                    <li class="email">
                        <i class="fa fa-envelope"></i>
                        <a href="mailto:{{ data.me.email }}">{{ data.me.email }}</a>
                    </li>
                    {% endif %}
                    {% if data.me.phone %}
                    <li class="phone">
                        <i class="fa fa-phone"></i>
                        <a href="tel:{{ data.me.phone.number }}" title="{{ _('Phone') }}">{{ data.me.phone.display }}</a>
                    </li>
                    {% endif %}
                    {% for network in data.me.social %}
                    <li class="{{ network.icon }}">
                        <i class="fa fa-{{network.icon}}"></i>
                        <a href="{{network.link}}" target="_blank" alt="{{ network.name }}">{{ network.display }}</a>
                    </li>
                    {% endfor %}
                    {% for website in data.me.websites %}
                    <li class="website">
                        <i class="fa fa-globe"></i>
                        <a href="{{website.link}}" target="_blank" title="{{ website.name }}">{{ website.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div><!--//contact-container-->
            <div class="education-container container-block">
                <h2 class="container-block-title">{{ _('Education') }}</h2>
                {% for school in data.education %}
                <div class="item">
                    <h4 class="degree">{{ school.degree }}</h4>
                    <h5 class="meta">{{ school.name }}</h5>
                    <div class="time">{{ school.from }} - {{ school.to }}</div>
                </div>
                {% endfor %}
            </div><!--//education-container-->

            <div class="languages-container container-block">
                <h2 class="container-block-title">{{ _('Languages') }}</h2>
                <ul class="list-unstyled interests-list">
                    {% for language in data.me.languages %}
                    <li>
                        {{language.name}}
                        <span class="lang-desc">({{ language.level }})</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <!--div class="interests-container container-block">
                <h2 class="container-block-title">Interests</h2>
                <ul class="list-unstyled interests-list">
                    <li>Climbing</li>
                    <li>Snowboarding</li>
                    <li>Cooking</li>
                </ul>
            </div><!--//interests-->

        </div><!--//sidebar-wrapper-->

        <div class="main-wrapper">

            <section class="section summary-section">
                <h2 class="section-title">
                    <i class="fa fa-user"></i>
                    {{ _('Career Profile') }}
                </h2>
                <div class="summary">{{ data.me.content }}</div><!--//summary-->
            </section><!--//section-->

            <section class="section summary-section">
                <h2 class="section-title">
                    <i class="fa fa-compass"></i>
                    {{ _('Area of expertise') }}
                </h2>
                {% for exp in data.expertise %}
                <h3 class="expertise-name">{{ exp.name }}</h3>
                <ul>
                    {% for line in exp.lines %}
                    <li>{{ line }}</li>
                    {% endfor %}
                </ul>
                {% endfor %}
            </section><!--//section-->

            <section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>{{ _('Experiences') }}</h2>

                {% for experience in data.experiences|sort(attribute='from', reverse=True) %}
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">{{ experience.role }}</h3>
                            <div class="time">
                                {{ experience.from|dtformat('%B %Y') }}
                                -
                                {{ experience.to|dtformat('%B %Y') or _('Present') }}
                            </div>
                        </div><!--//upper-row-->
                        <div class="company">
                            {{ experience.company }}
                            {%- if experience.where %}, {{ experience.where}}{% endif %}
                        </div>
                    </div><!--//meta-->
                    <div class="details">{{ experience.content }}</div><!--//details-->
                </div><!--//item-->
                {% endfor %}

            </section><!--//section-->

            <section class="section projects-section">
                <h2 class="section-title">
                    <i class="fa fa-archive"></i>
                    {{ _('Projects') }}
                </h2>
                <div class="intro">
                    <p>{{ data.projects.content }}</p>
                </div><!--//intro-->
                {% for project in data.projects.opensource %}
                <div class="item">
                    <span class="project-title"><a href="{{ project.url }}">{{ project.name }}</a></span>
                    -
                    <span class="project-tagline">{{ project.description }}</span>
                </div>
                {% endfor %}
            </section><!--//section-->

            <section class="skills-section section">
                <h2 class="section-title">
                    <i class="fa fa-rocket"></i>
                    {{ _('Skills &amp; Proficiency') }}
                </h2>
                <div class="skillset">
                    {% for domain in data.skills %}
                    <h3 class="skill-domain">{{ domain.name }}</h3>
                        {% for skill in domain.skills %}
                        <div class="item">
                            <h3 class="level-title">{{ skill.name }}</h3>
                            <div class="level-bar">
                                <div class="level-bar-inner" data-level="{{skill.level}}%"></div>
                            </div><!--//level-bar-->
                        </div><!--//item-->
                        {% endfor %}
                    {% endfor %}
                </div>
            </section><!--//skills-section-->

        </div><!--//main-body-->
    </div>

    <footer class="footer">
        <div class="text-center">
                <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can check out other license options via our website: themes.3rdwavemedia.com */-->
                <small class="copyright">Designed with <i class="fa fa-heart"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
        </div><!--//container-->
    </footer><!--//footer-->

    <!-- Javascript -->
    <script type="text/javascript" src="/theme/plugins/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/theme/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- custom js -->
    <script type="text/javascript" src="/theme/js/main.js"></script>
</body>
</html>
