.sidebar-wrapper .container-block {
  padding: 25px;
}

.flag-list {
  margin-top: 10px;
  margin-bottom: 0;
}

.expertise-name {
  color: #3F4650;
  font-size: 16px;
  margin-top: 0;
  font-weight: 500;
}

.skillset .skill-domain {
  font-size: 20px;
}
