<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="0; url=/{{default_lang}}/">
    <title>Redirecting to {{default_lang}}</title>
    <link rel="icon" type="image/x-icon" href="{{ root }}/images/favicon-64x64.ico"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{{ root }}/images/favicon-32x32.png"/>
  </head>
  <body>Redirecting to {{default_lang}}...</body>
</html>
