<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="0; url=/{{default_lang}}/">
    <title>Redirecting to {{default_lang}}</title>
  </head>
  <body>Redirecting to {{default_lang}}...</body>
</html>
